/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
body {
  background-image: url('img_girl.jpg');
  background-size: 100%;
}
.columna {
float: left;
padding: 10px;
min-height: 700px;
}

.izquierda {
padding: 10px;
width: 15%;
border: 10px solid #b04973;
border-radius: 1em;
}

.derecha {
padding: 10px;
width: 60%;
outline: 10px solid #b04973;
border-bottom-right-radius: 6.75% 30%;
border-radius: 0.1em;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {    

}

#c2 {

}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
    opacity: 100%;
    padding-bottom: 10px;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: auto;
    border-radius: 10px;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */