/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
body {
  background-image: url('img_girl.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.izquierda {
width: 15%;
}

.derecha {
width: 60%;
border-right: 1em;
}

h2 {
  background-color: rgba(0, 255, 115, 0.349);
  border-radius: 2px;
  outline: #b04973 3px;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
  float:left;
  padding: 10px;
  border: 10px solid #b04973;
  border-radius: 1em;
  }

#c2 {
  float: left;
  padding: 25px;
  outline-offset: -15px;
  outline: 10px solid #b04973;
  border-bottom-right-radius: 6.75% 30%;
  border-radius: 1em;
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    padding-bottom: 10px;
    width: 100%;
    height: auto;
}
.profile {
  border-radius: 50%;
  }



/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 900px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */