/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */

* {
    box-sizing: border-box;
  }

body {
  background-image: url('img_girl.jpg');
  background-repeat: no-repeat;
  background: cover;
  }
  

.Encabezado, .Texto{
  border: solid #2d3142;
  font-family: 'Marvel', sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  background-color: #ef8354;
  text-align: center;
}

/*Texto Columna centro, ancho de borde, tamaño de letra, alinear al centro*/
.Encabezado {
  margin-top: 10px;
  width: 80%;
  font-size: 17px;
}



/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
  width: 20%;
  float:left;
  margin-top:5px;
  margin-bottom: 5px;
  margin-right:0px;
  margin-left: 5px;
  padding: 10px;
  border: 5px solid #2d3142;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius:15px;
  background-color: rgba(255, 0, 0, 0.096);
}

#c2 {
  width: 59.5%;
  height: 1820px;
  float: left;
  margin-top:5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  border: 5px solid #2d3142;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius:15px;
  background-color: rgba(255, 0, 0, 0.096);
  
}

p, li {
  margin: 15px;
  font-size: 20px;
  padding: 2px;
}



  footer{
    text-align: center;
    opacity: 80%;
   }
  

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
    
}

IMG.displayed {
  width: 300px;
  height: 250px;
  border: 4px solid #000000;
  border-radius: 50%;
  background-color: #ef8354;
  box-shadow: 0 0 30px #000;
  transform: scale(0.6);
  }


.profile {
  border-radius: 50%;
  border: solid #2d3142 5px;
  margin-bottom: 5px;
  margin-top: 15px;
  box-shadow: 0 0 20px #000;
  }

.TituloMagneto {
  float: left;
  align-items: center;
  margin-left: 10px;
}
.TituloLobezno{
  float: center;
}

.TituloGambito{
  float:right;
}
 /*Tabla*/

 .Title
 {   margin-bottom: 15px;
     border: 4px solid #000000;
     text-align: center;
     border: solid;
     border-spacing: 15px;
     font-weight: bold;
     font-size: larger;
     border-radius: 15px;
     background-color: #ef8354;
 }
 
 .Encabezadotabla
 { 
     margin: 10px;
     width: 100%;
 }
 
 .CeldaMagneto,.CeldaLobezno,.CeldaGambito
 {   float:left;
     font-weight: bold;
     text-align: center;
     border: 4px solid #000000;
     background-color: #ef8354;
     margin: 5px;
     width: 30%;
     height: 90px;
     text-align: center;
     border-radius: 5%;
 }
 .CeldaMagneto
 {
   margin-left: 25px;
 }
 
 .CeldacontenidoM,.CeldacontenidoL,.CeldacontenidoG{
     float:left;
     border: 4px solid #000000;
     width: 30%;
     height: 450px;
     padding: 5px;
     margin: 5px;
     text-align:left;
     border-radius: 5%;
 }
 
 .CeldacontenidoM
 {
   margin-left: 35px;
 }
 
 .CeldafotoG,.CeldafotoL,.CeldafotoM{
     float:left;
     width: 30%;
     height: 200px;
     padding: 10px;
     margin: 5px;
     border-radius: 5%;
 }
 
 .CeldafotoM
 {
   margin-left:36px;
 }
 
 img.imgtmagneto{
   height: 220px;
   width: 200px;
   border-radius: 50%;
   border: solid #2d3142 5px;
   box-shadow: 0 0 20px #000;
 }
 
 img.imgtlobezno{
   height: 220px;
   width: 200px;
   border-radius: 50%;
   border: solid #2d3142 5px;
   box-shadow: 0 0 20px #000;
 }
 
 img.imgtgambito{
   height: 220px;
   width: 200;
   border-radius: 50%;
   border: solid #2d3142 5px;
   box-shadow: 0 0 20px #000;
 }
/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 1020px) {
    .iresponsive {
        width: 100%;
    }
    .Encabezado {
      font-size: 20px;
      width: 100%;
    }
    #c2, #c1,#c3{
      width: 100%;
      height: 100%;
      border-radius: 12px;
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: white;
    }
    body {
      background:#bfc0c0;
      }

    .CeldaLobezno,.CeldaMagneto,.CeldaGambito
    {
      margin:5px;
      margin-left: 0px;
      width: 220px;
      height:100px;
      
    }
    .CeldafotoG,.CeldafotoM,.CeldafotoL{
      margin:25px;
      margin-left: 10px;
      width: 220px;
      height:200px;
    }
    .CeldacontenidoG,.CeldacontenidoM,.CeldacontenidoL {
      float: center;
      margin: 5px;
      width: 100%;
      height:100%;
    }

 }