.Table
{
    display: table;
    width: 100%;
}

.Title
{   margin: 40%;
    display: table-cell;
    text-align: center;
    border: solid;
    font-weight: bold;
    font-size: larger;
}

.Encabezado
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row
{
    display: table-row;
}

.CeldaMagneto,.CeldaLobezno,.CeldaGambito
{
    float:left;
    width: 30%;
    margin: 10px;
    border: solid;
    border-width: thin;
    text-align: center;
    padding-left: 15px;
}

.CeldacontenidoM,.CeldacontenidoL,.CeldacontenidoG{
    float:left;
    width: 30%;
    height: 500px;
    margin: 10px;
    border: solid;
    border-width: thin;
    text-align: center;
    padding-left: 15px;
}

.CeldafotoG,.CeldafotoL,.CeldafotoM{
    float:left;
    width: 30%;
    height: 500px;
    margin: 10px;
    border: solid;
    border-width: thin;
    text-align: center;
    padding-left: 15px;
}