* {
    box-sizing: border-box;
  }

    body {

     /* Ubicación de la imagen */
    background-image: url("/2022-2023-CSAAI-Practicas/P1/CV/Imagenes/JPG/Background2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    /* Para dejar la imagen de fondo centrada, vertical y
    horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: contain cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen
    de fondo o si hay problemas para cargarla */
    background-color: #999;
    }
  @media screen and (max-width: 600px) 
  {
  body{
  background-image: url("/2022-2023-CSAAI-Practicas/P1/CV/Imagenes/JPG/background2-1.jpg");
  }
  }