.imageh {
  background-image: url("/2022-2023-CSAAI-Practicas/P1/CV/imagenes/jpg/background2.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}
.text {
  padding: 20% 0;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 16px rgba(253, 255, 115, 0.795);
  font-size: 25px; 
  text-align: center;
}

@media(min-width:700px)
{
.text
{
font-size: 50px;
}
}