html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.imageh {
  background-image: url("../../Imagenes/JPG/Background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  float: left;
}
/*titulo*/
.text {
  color: #ffcd00;
  text-shadow: 4px 4px 16px rgba(253, 255, 115, 0.411);
  font-size: 3vw; /* cambiamos el tamaño de fuente a viewport width */
  text-align: center;
}

.subtitulo {
  background-color: rgba(0, 0, 0, 0.356);
  color: white;
  font-size: 20px;
  max-width: 70%; /* cambiamos width a max-width */
  height: auto;
  margin: 50px auto; /* usamos margin auto para centrar horizontalmente */
  padding: 20px;
  border-radius: 1%;
}

h2 {
  border-bottom: 3px solid #0066FF;
  text-align: center;
  font-size: 30px;
}

a
{
margin-left: 30%;
}
a, a:visited {
  color: #ffffff5d;
  font-size: 50px;
  text-decoration: none;
}

a:hover, a:active {
  color: #e7ff0b;
}

img
{
  margin-left: 10%;
  border-radius: 5%;
}

div.return
{
  margin:70px;
}

div.contenadorimg
{
  padding: 20px;
}

@media (max-width: 768px) { /* estilos para pantallas pequeñas */
  .text {
    font-size: 8vw;
  }
  
  .subtitulo {
    max-width: 100%;
    height: auto;
    padding: 20px;
  }

  a
    {
    margin-left: 15px;
    }
  .image-container {
      max-width: 100%;
    }
  img
  {
    width: 100%;
    max-width: 600px;
    margin-left: 0px;
  }
}

@media (max-width: 1580px) {
  .text {
    font-size: 8vw;
  }
  
  .subtitulo {
    max-width: 100%;
    height: auto;
    padding: 20px;
    margin-left: 50px;margin-right: 50px;border-left-width: 0px;
  }

  a
    {
    margin-left: 15px;
    }
  .image-container {
      max-width: 100%;
    }
  img
  {
    width: 90%;
    max-width: 800px;
    margin-left: 10%;
  }
}