/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementosa */

* {
    box-sizing: border-box;
  }
/* Imagen de fondo */
body {
  background-image: url("../../Imagenes/JPG/Background1.jpg");
  background-repeat: no-repeat;
  }
  
/*Estandar: Estilo letra y borde titulos/comienzos de sección */
.Encabezado, .Texto{
  border: solid #2d3142;
  font-family: 'Marvel', sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  background-color: #ef8354;
  text-align: center;
}

/*Texto Columna centro, ancho de borde, tamaño de letra, alinear al centro*/
.Encabezado {
  margin-top: 10px;
  width: 80%;
  font-size: 17px;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

/*Tamaño y configuracion columna izquierda*/
#c1 {
  width: 20%;
  float:left;
  margin-top:5px;
  margin-bottom: 5px;
  margin-right:0px;
  margin-left: 5px;
  padding: 10px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius:15px;
  border: 5px solid #2d3142;
  background-color: rgba(255, 0, 0, 0.096);
}

/*Tamaño y configuracion columna derecha*/
#c2 {
  width: 59.5%;
  float: left;
  margin-top:5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius:15px;
  border: 5px solid #2d3142;
  background-color: rgba(255, 0, 0, 0.096);
  
}

/*configuracion parrafos y listas*/
p, li {
  font-size: 20px;
  font-family: 'Marvel', sans-serif;
  margin: 15px;
  padding: 3px;
}

.columnamentorMagneto,.columnamentorGambito,.columnamentorlobezno
{
  width: 30%;
  float:left;
}


/*configuracion pie de pagina*/
  footer{
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    text-align: center;
   }
  

/* estilos para imágenes*/
/* posicionamiento de imágenes*/

img {
    width: 100%;
    height: auto;
    
}

IMG.displayed {
  width: 300px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid #000000;
  background-color: #ef8354;
  box-shadow: 0 0 30px #000;
  transform: scale(0.6);
  }


.profile {
  border-radius: 50%;
  border: solid #2d3142 5px;
  margin-bottom: 5px;
  margin-top: 15px;
  box-shadow: 0 0 20px #000;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 1020px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 1020px) {
    /*Imagen de perfil*/
    .iresponsive {
        width: 100%;
    }
    /*Titulo centro*/
    .Encabezado {
      font-size: 20px;
      width: 100%;
    }
    /*Columnas izquierda y derecha*/
    #c2, #c1{
      width: 100%;
      height: 100%;
      border-radius: 12px;
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: rgba(255, 0, 0, 0.096);
    }
    /*Cuerpo con nuevo fondo*/
    body {
      background:white;
      }

 }
  